@{
    ViewData["Title"] = "Settings";
}
<div class="w3-row-padding w3-margin w3-center">
    <div class="w3-third s4 w3-padding">
        <a asp-action="Parkings" asp-controller="Settings" style="text-decoration:none">
            <div class="w3-card-4">
                <img src="./imgs/setting-parking-3.png" style="height: 8rem;" class="card-img-top" alt="...">
                <div class="w3-container">
                    <h1 class="card-title">پارکینگ</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third s4 w3-padding">
        <a asp-action="Gates" asp-controller="Settings" style="text-decoration:none">
            <div class="w3-card-4 w3-center">
                <img src="./imgs/setting-gate-barrier-3.png" style="height: 8rem;" class="card-img-top" alt="...">
                <div class="w3-container">
                    <h1 class="card-title">دروازه</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third s4 w3-padding">
        <a asp-action="Users" asp-controller="Settings" style="text-decoration:none">
            <div class="w3-card-4 w3-center">
                <img src="./imgs/setting-users-3.png" style="height: 8rem;" class="card-img-top" alt="...">
                <div class="w3-container">
                    <h1 class="card-title">کاربران</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third s4 w3-padding">
        <a asp-action="CardGroup" asp-controller="Settings" style="text-decoration:none">
            <div class="w3-card-4 w3-center">
                <img src="./imgs/cardgroup.png" style="height: 8rem;" class="card-img-top" alt="...">
                <div class="w3-container">
                    <h1 class="card-title">کارت گروه</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third s4 w3-padding">
        <a asp-action="Price" asp-controller="Settings" style="text-decoration:none">
            <div class="w3-card-4 w3-center">
                <img src="./imgs/time-is-money-5250591-4385770.webp" style="height: 8rem;" class="card-img-top" alt="...">
                <div class="w3-container">
                    <h1 class="card-title">تعرفه</h1>
                </div>
            </div>
        </a>
    </div>
</div>