<div class="w3-cell-row w3-padding-large w3-center">
    <div class="w3-cell w3-container" style="width:64px;">
        <i class="w3-xxlarge fa fa-tag"></i>
    </div>
    <div class="w3-cell w3-container" style="width:90px;">
        <input class="w3-input w3-border w3-round-medium" name="tag" id="tag" type="text" style="width:190px;" placeholder="شماره کارت">
    </div>
    <div class="w3-cell w3-container" style="width:64px;">
        
        <label class="switch">
            
            <input id="fastMode" type="checkbox" />
            <span class="slider round"></span>
        </label>ثبت سریع
    </div>
</div>
