<div class="w3-container w3-card w3-padding w3-margin-right" id="lcContainer">
    <img id="lcImgEn" class="w3-image w3-round-large w3-card w3-hover-opacity" onerror="this.src='/imgs/cnf404.png'"/>
    <img id="lcImgEnP" class="w3-image w3-round-large w3-card" onerror="this.src='/imgs/pnf404.png'"/>
    <img id="lcImgEx" class="w3-image w3-round-large w3-card w3-hover-opacity" onerror="this.src='/imgs/cnf404.png'"/>
    <img id="lcImgExP" class="w3-image w3-round-large w3-card" onerror="this.src='/imgs/pnf404.png'"/>
    <h2><label>مبلغ:</label><span id="lcPrice"></span></h2>
    <h2><label>تعرفه:</label><span id="lcTariff"></span></h2>
    <p><label>پلاک ورود:</label><span id="lcPlateEn"></span></p>
    <p><label>پلاک خروج:</label><span id="lcPlateEx"></span></p>
    <p><label>زمان ورود:</label><span id="lcEntryTime"></span></p>
    <p><label>زمان خروج:</label><span id="lcDepartureTime"></span></p>
    <div class="w3-center">
        <button class="w3-button w3-red" id="lcDelete">درخواست حذف</button>
    </div>
</div>