@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیر مجاز";
}

<header>
    <h1 class="w3-center">@ViewData["Title"]</h1>
    <p class="w3-center">شما به این صفحه دسترسی ندارید</p>
</header>
